# general modules
django >3.2,<3.3
python-decouple 
pillow
markdown       
django-filter  
PyJWT
cryptography

# calender
jdatetime

# email
django-mail-templated


# cleaning the repository
django-cleanup